config.js
views/belowSpeedAd.html
views/ad.html
views/ad.html
views/aboveDescAd.html
views/ad.html

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# eslint cache
.eslintcache

# dotenv environment variables
*.env

# nextjs build stuff
.next/
.build/
dist/


.DS_Store
haters/
layout.md
