extends header

block content
    .container
        include search
        .row
            .col-sm-8.text-center
                img(src="/img/404_image.png", alt="Book was not found")
                p It looks like we failed to find that book. Maybe try a search with more information? 
                p For example, looking for 'A Game of Thrones' I would try 'a game of thrones' or 'a song of ice and fire book 1' or 'game of thrones martin' instead of 'game of thrones'.
            .col-sm-4
                include sidebar
    include footer