hr
footer
    .container
        .row
            .col-xs-12
                ul.list-inline
                    li
                        a(href='/') Home
                    li.footer-menu-divider &sdot;
                    li
                        a(href='/wpm/') WPM Tests
                    li.footer-menu-divider &sdot;
                    li
                        a(href='/about/') About
                    //li.footer-menu-divider &sdot;
                    //li
                        a(href='/blog/') Blog
                    li.footer-menu-divider &sdot;
                    li
                        a(href='https://twitter.com/ReadingLength', target="_blank") Twitter
                    li.footer-menu-divider &sdot;
                    li
                        a(href='https://github.com/Putnam14/ReadingLength') Github
                p.copyright.text-muted.small Copyright &copy; #[a(href='mailto:admin@readinglength.com') Bridger Putnam] 2015-2018.
                p.text-muted.small Word count estimates are not guaranteed to be accurate. In most cases the word count estimate is generated on-the-fly by Reading Length. The method of reaching the word count estimate is listed on the book's page under Accuracy. If you are an author of a book or know of a book's accurate wordcount, contact me.
                p.text-muted.small Reading Length is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.
                p.text-muted.small Book of the month inquiries: #[a(href='mailto:admin@readinglength.com') click here].
                -//p.text-muted.small BTC Donations: #[br]LTC Donations: #[br]ETH Donations:

//- jQuery && Bootstrap js
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
//- Google Analytics
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-63567761-5")
script window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-63567761-5');

